
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <button id='btnGiveCommand'>Give Command!</button>
    <br><br>
    <span id='message'></span>
    <br><br>
    
    <script>
	setInterval(function(){

	console.log("come back to listing...")
        var message = document.querySelector('#message');

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;

        var grammar = '#JSGF V1.0;'

        var recognition = new SpeechRecognition();
		recognition.start();
        var speechRecognitionList = new SpeechGrammarList();
        speechRecognitionList.addFromString(grammar, 1);
        recognition.grammars = speechRecognitionList;
		recognition.continuous = true;

        recognition.lang = 'en-US';
        recognition.interimResults = false;

        recognition.onresult = function(event) {
            var last = event.results.length - 1;
            var command = event.results[last][0].transcript;
            message.textContent = 'Voice Input: ' + command + '.';

            if(command.toLowerCase() === 'hi'){
                
				document.querySelector("body").style.color="green"
				
            }
            else if (command.toLowerCase() === 'hello'){
             
			 	document.querySelector("body").style.color="blue"
			 
			 
			 
            }else{
            }			
        };


        recognition.onspeechend = function() {
         recognition.stop();
		  
		  
        };
	   recognition.onerror = function(event) {
	      recognition.stop();
          
		   
		   
		   
        }  
},5000);

    </script>
</body>
</html>